<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>My Servlet Application</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>com.gmail.sasha.servlets.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/dispatcher</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>com.gmail.sasha.servlets.ExceptionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/errors</url-pattern>
    </servlet-mapping>

        <filter>
            <filter-name>AuthenticationFilter</filter-name>
            <filter-class>com.gmail.sasha.servlets.filter.AuthenticationFilter</filter-class>
        </filter>
        <filter-mapping>
            <filter-name>AuthenticationFilter</filter-name>
            <servlet-name>DispatcherServlet</servlet-name>
        </filter-mapping>

        <filter>
            <filter-name>LogFilter</filter-name>
            <filter-class>com.gmail.sasha.servlets.filter.LogFilter</filter-class>
        </filter>

        <filter>
            <filter-name>RequestEncodeFilter</filter-name>
            <filter-class>com.gmail.sasha.servlets.filter.RequestEncodeFilter</filter-class>
        </filter>

        <filter-mapping>
            <filter-name>LogFilter</filter-name>
            <url-pattern>/*</url-pattern>
        </filter-mapping>

        <filter-mapping>
            <filter-name>RequestEncodeFilter</filter-name>
            <servlet-name>DispatcherServlet</servlet-name>
        </filter-mapping>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errors</location>
    </error-page>
</web-app>